<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-top">
            <a href="/" class="logo">
                <img src="/css/img/logo.png" alt="">
            </a>
            <div class="search">
                <button class="btn">
                    <input type="text" placeholder="Tìm kiếm sản phẩm...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <a href="/login" class="acc">
              <i class="fa-solid fa-user"></i>
              <p>Đăng nhập/đăng ký</p>
            </a>
            <div class="header__cart">
              <div class="header__cart-wrap">
                  <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                  <span class="header__cart-notice">0</span>
                  <!-- No cart:header__cart-list--no-cart -->
                  <div class="header__cart-list ">
                      <img src="/css/img/no_cart.png" alt="No Cart" class="header__cart--no-cart-img">
                      <span class="header__cart-list--no-cart-msg">
                       Chưa có sản phẩm
                      </span>
                      <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                      <!-- Cart item -->
                      <ul class="header__cart-list-item">
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <a href="#" class="header__cart-view-cart btn btn--primary">Xem giỏ hàng</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="header-bottom">
            <ul>
                <li><a href="">Giày Nike</a></li>
                <li><a href="">Giày Adidas</a></li>
                <li><a href="">Giày Lacoste</a></li>
                <li><a href="">Giày Puma</a></li>
                <li><a href="">Giày Asics</a></li>
                <li><a href="">Giày Thể Thao</a></li>
                <li><a href="">Sale</a></li>
            </ul>
        </div>
    </header>
    <container>
      <div class="navbar">
        <a href="/index">Trang chủ</a>
        <span>&#8250;	</span>
        <a href="/login">Tài Khoản</a>
        <span>&#8250;	</span>
        <a href="/login">Đăng nhập</a>
      </div>
        <div class="login-bgr">
            <div class="login-main">
                <img src="/css/img/logo-myshoes.png" alt="">
                <div class="login-email">
                    <p>Email:</p>
                    <input type="email" name="email" id="email" placeholder="Nhập email của bạn">
                </div>
                <div class="login-pass">
                    <p>Password:</p>
                    <input type="password" name="pass" id="pass" placeholder="Nhập mật khẩu của bạn">
                </div>
                <button type="submit">Đăng Nhập</button>
                <p>Chưa có tài khoản?<a href="/resgiter">Đăng Ký</a></p>
                <a href="#">Quên mật khẩu</a>
            </div>
        </div>
    </container>
    <footer>
        <div class="footer-top">
          <div class="footer-top_text">
            <h3>ĐĂNG KÝ NHẬN THÔNG TIN</h3>
            <p>Đăng ký ngay để được cập nhật sớm nhất những thông tin hữu ích, ữu đãi vô cùng hấp dẫn và những món quà bất ngờ từ Myshoes.vn!</p>
          </div>
          <div class="footer-top_email">
            <div class="footer-btn">
              <input type="email" name="email" id="email" placeholder="Nhập email của bạn">
              <button type="submit" class="btn">
                <i class="fa-regular fa-envelope"></i>
                <h4>ĐĂNG KÝ</h4>
              </button>
            </div>
            <label class="footer-checkbox">
              <input type="checkbox" name="checkbox" id="checkbox"><span>Tôi đã đọc và đồng ý với</span>
              <a href="">Chính sách bảo mật</a>
            </label>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-bottom-left">
            <h2>MYSHOES.VN - GIÀY CHÍNH HÃNG</h2>
            <div class="footer-bottom-left-hang">
              <img src="/css/img/logo-myshoes.png" alt="logo">
              <p>Myshoes.vn được định hướng trở thành hệ thống thương mại điện tử bán giày chính hãng hàng đầu Việt Nam.
                <br>Showroom: 249 Xã Đàn, Hà Nội
                <br>Hotline: 0973711868</p>
            </div>
          </div>
          <div class="footer-bottom-center1">
            <h2>VỀ CHÚNG TÔI</h2>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Tin tức Myshoes</a></li>
            <li><a href="#">Cơ hội việc làm</a></li>
            <li><a href="#">Liên hệ</a></li>
          </div>
          <div class="footer-bottom-center1">
            <h2>KHÁCH HÀNG</h2>
            <li><a href="#">Hướng dẫn mua hàng</a></li>
            <li><a href="#">Chính sách đổi trả</a></li>
            <li><a href="#">Chính sách bảo hành</a></li>
            <li><a href="#">Khách hàng thân thiết</a></li>
            <li><a href="#">Hướng dẫn chọn size</a></li>
            <li><a href="#">Chương trình khuyến mại</a></li>
          </div>
          <div class="footer-bottom-right">
            <h2>CHỨNG NHẬN</h2>
            <img src="/css/img/DMCA.png" alt="" class="footer-bottom-right-img1">
            <img src="/css/img/logo-bct.png" alt="" class="footer-bottom-right-img2">
          </div>
        </div>
      </footer>
</body>
</html>