<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-top">
            <a href="/" class="logo">
                <img src="/css/img/logo.png" alt="">
            </a>
            <div class="search">
                <button class="btn">
                    <input type="text" placeholder="Tìm kiếm sản phẩm...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <a href="./login.html" class="acc">
              <i class="fa-solid fa-user"></i>
              <p>Đăng nhập/đăng ký</p>
            </a>
            <div class="header__cart">
              <div class="header__cart-wrap">
                  <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                  <span class="header__cart-notice">0</span>
                  <!-- No cart:header__cart-list--no-cart -->
                  <div class="header__cart-list ">
                      <img src="/css/img/no_cart.png" alt="No Cart" class="header__cart--no-cart-img">
                      <span class="header__cart-list--no-cart-msg">
                       Chưa có sản phẩm
                      </span>
                      <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                      <!-- Cart item -->
                      <ul class="header__cart-list-item">
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                        <li class="header__cart-item">
                          <img src="https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lmfm9inpcvz3e1_tn" alt="ip14" class="header__cart-item-img">
                          <div class="header__cart-item-info">
                            <div class="header__cart-item-head">
                              <h5 class="header__cart-item-name">Siêu Phẩm DELL 9310 
                              </h5>
                              <div class="header__cart-item-price-wrap">
                                <span class="header__cart-item-price">3.200.000đ</span>
                                <span class="header__cart-item-multiply">X</span>
                                <span class="header__cart-item-qnt">2</span> 
                              </div>                            
                            </div>
                            <div class="header__cart-item-body">
                              <span class="header__cart-item-desc">
                                Phân loại: Bạc
                              </span>
                              <span class="header__cart-item-remove">Xóa</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <a href="#" class="header__cart-view-cart btn btn--primary">Xem giỏ hàng</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="header-bottom">
            <ul>
                <li><a href="">Giày Nike</a></li>
                <li><a href="">Giày Adidas</a></li>
                <li><a href="">Giày Lacoste</a></li>
                <li><a href="">Giày Puma</a></li>
                <li><a href="">Giày Asics</a></li>
                <li><a href="">Giày Thể Thao</a></li>
                <li><a href="">Sale</a></li>
            </ul>
        </div>
    </header>
    <container>
        <div class="navbar">
            <a href="./index.html">Trang chủ</a>
            <span>&#8250;	</span>
            <a href="./product.html">GIÀY NIKE AIR ZOOM PEGASUS 41 NAM - ĐEN FULL</a>
          </div>
        <div class="product-top">
            <div class="product-left">
                <div class="img-left">
                    <img src="/css/img/nike2.jpg" alt="">
                    <img src="/css/img/nike2.1.jpg" alt="">
                    <img src="/css/img/nike2.2.jpg" alt="">
                    <img src="/css/img/nike2.3.jpg" alt="">
                    <img src="/css/img/nike2.4.jpg" alt="">
                </div>
                <div class="img-right">
                    <img src="/css/img/nike2.jpg" alt="">
                </div>
            </div>
            <div class="product-right">
                <h1 class="product-title">GIÀY NIKE AIR ZOOM PEGASUS 41 NAM - ĐEN FULL</h1>
                <div class="appreciation">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <a href="#">0 đánh giá</a>
                </div>
                <h2>THƯƠNG HIỆU:</h2>
                <div class="product-trademark">
                    <img src="/css/img/nike.png" alt="">
                    <p>Nike</p>
                </div>
                <h2>Giá:</h2>
                <h2 class="product-price">3.990.000đ</h2>
                <div class="product-size">
                    <p>Chọn size theo nam:</p>
                    <select name="psize" id="psize">
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42.5">42.5</option>
                    </select>
                </div>
                <div class="quality">
                    <p>Số lượng:</p>
                    <input type="number" name="quality" id="quality">
                </div>
                <div class="product_btn">
                    <button class="btn-left">
                        <i class="fa-solid fa-cart-plus"></i>
                        <h2>THÊM VÀO GIỎ HÀNG</h2>
                    </button>
                    <button class="btn-right">
                        MUA NGAY
                    </button>
                </div>
            </div>
        </div>
        <div class="title">
            <div class="bar-left"></div>
            <h1 class="title-text">MÔ TẢ SẢN PHẨM</h1>
            <div class="bar-right"></div>
        </div>
        <div class="product-bottom">
            <i>Nike Air Zoom Pegasus 41- Con chiến mã quen thuộc, nâng cấp mạnh mẽ của nhà Nike </i>
            <br>
            <br>
            <p><b>Nike Pegasus 41</b> là một trong những mẫu giày thể thao được chờ đón và yêu thích nhất của Nike trong năm nay. Với mỗi phiên bản mới, Pegasus luôn mang đến những cải tiến đáng kể để đáp ứng nhu cầu ngày càng cao của các vận động viên.</p>
            <br>
            <li><b>Công nghệ ReactX:</b> Phiên bản <b>Pegasus 41</b> đã được nâng cấp với công nghệ bọt ReactX mới nhất. Loại bọt này nhẹ hơn, đàn hồi tốt hơn, giúp tăng cường khả năng trả năng lượng, mang đến cảm giác chạy êm ái và năng động hơn so với phiên bản Pegasus 40 trước đó.</li>
            <li><b>Đệm khí Air Zoom:</b> Hệ thống đệm khí Air Zoom được đặt ở toàn bộ đế giữa của giày giúp cung cấp sự hỗ trợ và giảm chấn tối ưu cho đôi chân.</li>
            <li><b>Upper thoáng khí:</b> Phần upper được làm từ chất liệu lưới kỹ thuật, giúp tăng cường độ thoáng khí, mang lại cảm giác thoải mái và khô thoáng cho đôi chân</li>
            <li><b>Thiết kế ôm chân: Giày Nike Pegasus 41</b> có thiết kế ôm chân, tạo cảm giác chắc chắn và ổn định khi chạy.</li>
            <li><b>Đa năng: Nike Pegasus 41</b> phù hợp với nhiều loại hình chạy, từ chạy bộ hàng ngày, tập luyện cường độ cao đến tham gia các cuộc thi. Cùng với thiết kế rất đẹp nên Pegasus 41 là mẫu giày có thể sử dụng vào mọi hoạt động hàng ngày.</li>
            <br>
            <p>Myshoes.vn tự hào là đơn vị nhập khẩu và phân phối Nike Pegasus 41 chính hãng đầu tiên tại Việt Nam.</p>
            <br>
            <b>Giày Nike Air Zoom Pegasus 41 được Myshoes.vn nhập khẩu Chính Hãng từ Nike. Full box, đầy đủ phụ kiện.</b>
            <br>
            <br>
            <i style="color: red;">* Myshoes.vn cam kết:</i>
            <br>
            <br>
            <b>- Giày Nike Air Zoom Pegasus 41 chính hãng 100%. Phát hiện hàng Fake đền tiền gấp 2 lần giá sản phẩm.</b>
            <br><b>- Myshoes.vn miễn phí giao hàng toàn quốc (với đơn hàng từ 500.000 vnđ).</b>
            <br><b>- Đổi hàng trong 30 ngày. </b>
            <i>(Áp dụng với sản phẩm chưa sử dụng, nguyên vẹn như khi nhận hàng)</i>
            <br>
            <br>
            <i style="color: red;">* Cách thức mua hàng:</i>
            <p>Khách hàng MUA HÀNG tại các showroom hoặc trên website <a href="./index.html">https://myshoes.vn</a> hoặc gọi điện tới Hotline: <a href="#">0973 711 868</a> để được tư vấn.</p>
            <br><i style="color: red;">* Thông tin liên hệ Myshoes.vn:</i>
            <br>
            <br>
            <i>+ Showroom: 249 Xã Đàn, Hà Nội.</i>
            <br>
            <br>
            <i>+ Hotline: <a href="#">0973 711 868</a> (Zalo, Viber)</i>
            <br>
            <br>
            <i>+ Email: cskh@myshoes.vn</i>
            <br>
            <br>
            <i>+ Website: <a href="./index.html">https://myshoes.vn</a></i>
        </div>
    </container>
    <footer>
        <div class="footer-top">
          <div class="footer-top_text">
            <h3>ĐĂNG KÝ NHẬN THÔNG TIN</h3>
            <p>Đăng ký ngay để được cập nhật sớm nhất những thông tin hữu ích, ữu đãi vô cùng hấp dẫn và những món quà bất ngờ từ Myshoes.vn!</p>
          </div>
          <div class="footer-top_email">
            <div class="footer-btn">
              <input type="email" name="email" id="email" placeholder="Nhập email của bạn">
              <button type="submit" class="btn">
                <i class="fa-regular fa-envelope"></i>
                <h4>ĐĂNG KÝ</h4>
              </button>
            </div>
            <label class="footer-checkbox">
              <input type="checkbox" name="checkbox" id="checkbox"><span>Tôi đã đọc và đồng ý với</span>
              <a href="">Chính sách bảo mật</a>
            </label>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-bottom-left">
            <h2>MYSHOES.VN - GIÀY CHÍNH HÃNG</h2>
            <div class="footer-bottom-left-hang">
              <img src="/css/img/logo-myshoes.png" alt="logo">
              <p>Myshoes.vn được định hướng trở thành hệ thống thương mại điện tử bán giày chính hãng hàng đầu Việt Nam.
                <br>Showroom: 249 Xã Đàn, Hà Nội
                <br>Hotline: 0973711868</p>
            </div>
          </div>
          <div class="footer-bottom-center1">
            <h2>VỀ CHÚNG TÔI</h2>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Tin tức Myshoes</a></li>
            <li><a href="#">Cơ hội việc làm</a></li>
            <li><a href="#">Liên hệ</a></li>
          </div>
          <div class="footer-bottom-center1">
            <h2>KHÁCH HÀNG</h2>
            <li><a href="#">Hướng dẫn mua hàng</a></li>
            <li><a href="#">Chính sách đổi trả</a></li>
            <li><a href="#">Chính sách bảo hành</a></li>
            <li><a href="#">Khách hàng thân thiết</a></li>
            <li><a href="#">Hướng dẫn chọn size</a></li>
            <li><a href="#">Chương trình khuyến mại</a></li>
          </div>
          <div class="footer-bottom-right">
            <h2>CHỨNG NHẬN</h2>
            <img src="/css/img/DMCA.png" alt="" class="footer-bottom-right-img1">
            <img src="/css/img/logo-bct.png" alt="" class="footer-bottom-right-img2">
          </div>
        </div>
      </footer>
</body>
</html>